*{
    margin: 0;
}


body, html {
    font-family: 'Roboto Condensed', "Times New Roman", sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  
}

.nav, .banner {
    background-color: inherit;
    color: white;
    display: flex;
    
}

.nav {
    flex: 1;
    flex-flow: row nowrap;
}  

.head{
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        margin-left: 80px;
    }

.logo {
    align-items: center;
    flex: 1;
}

.title {
    align-self: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 400;
    flex: 1;
}

.link {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 1;    
    justify-content: flex-end;
    margin-right: 40px;
}

.header img {
    
    max-width: 80px;
    max-height: 80px;
}

ul > li{
    list-style-type: none;
    font-size: 24px;
    font-weight: 250;
}

.banner {
    margin-top: 20px;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.description, .display {
    display: flex;
    flex-flow: column wrap;
    flex: 1;    
    align-items: stretch;
    justify-content: flex-end;
    padding: 80px;
    
}

.description h2 {
    font-size: 48px;
    font-weight: 700; 
    color: #F9FAF8;
}

.description p{
    font-size: 16px;
    font-weight: 400;
    flex: 1;    
    color: #E5E7EB;
}

.display img {
    flex: 1;    
    max-width: 800px;
    max-height: 300px;
    align-self: center;
    
}

button {
    background-color: #3882F6;
    border-radius: 6px;
    align-self: flex-start;
    margin-top: 10px;   
    flex-basis: 40px;
    width: 100px;
    color: inherit
}

.info  {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
}

.info h1 {
    margin: 40px 0;
    font-weight: 800;
    font-size: 26px;
    color: #1F2937;
}


.info-img {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    flex: 1;
}

.card > img {
 
    border-radius: 6px;
    border: 1px solid #3882F6;
    max-width: 200px;
    max-height: 200px;
}

