*{
    margin: 0;
}


.body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    margin: 0;
    width: 100%;
    display: flex;
    align-content: column;
}

.nav, .banner {
    background-color: inherit;
    display: flex;
    flex-flow: row nowrap;
}

.nav {
    flex: 1;
}  

.head{
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        margin-left: 15px;
    }

.logo {
    align-items: center;
    flex: 1;
}

.title {
    align-self: center;
    font-size: 36px;
    font-weight: 400;
    flex: 1;
}

.link {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 1;    
    justify-content: flex-end;
    margin-right: 50px;
}

img {
    
    max-width: 80px;
    max-height: 80px;
}

ul > li{
    list-style-type: none;
    font-size: 24px;
    font-weight: 250;
}